<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.rent.mapper.UserMapper">

	<!-- 根据用户名查询数据库 -->
	<select id="findByName" parameterType="com.scau.rent.entity.extend.UserExtend"
		resultType="com.scau.rent.entity.extend.UserExtend">
		select * from t_user 
		<where>
		    <if test="user_name != null and user_name != ''">
		       user_name=#{user_name}
		    </if>
		</where>
	</select>
	
	<!-- 根据用户ID查询数据库 -->
	<select id="findByID" parameterType="com.scau.rent.entity.extend.UserExtend"
		resultType="com.scau.rent.entity.extend.UserExtend">
		select * from t_user 
		<where>
		    <if test="user_id != null and user_id != ''">
		       user_id=#{user_id}
		    </if>
		</where>
	</select>
	
	<!-- 查询所有用户：属于管理员的操作 -->
	<select id="findAll" parameterType="com.scau.rent.entity.QueryVo"
		resultType="com.scau.rent.entity.extend.UserExtend">
		select * from t_user 
		where user_type = 0
		<if test="userExtend != null">
		    <if test="userExtend.user_name != null and userExtend.user_name != ''">
		     order by #{userExtend.user_name}
		    </if>
		</if>
		<if test="start != null and end != null">
		    limit #{start},#{end} 
		</if>
	</select>
	
	<!-- 查询普通用户总数  -->
	<select id="getRowCount" resultType="Integer">
	    select count(*) from t_user where user_type=0
	</select>

	<!-- 向数据库添加用户 -->
	<insert id="insertUser" parameterType="com.scau.rent.entity.extend.UserExtend">
		<selectKey keyProperty="user_id" resultType="String" order="BEFORE">
			select uuid()
		</selectKey>
		insert into t_user
		values(#{user_id},#{user_name},#{user_password},#{user_phone},#{user_email},#{user_org},#{user_type},#{user_pic})
	</insert>
	
	<!-- 修改用户密码 -->
	<update id="updatePassword" parameterType="com.scau.rent.entity.QueryVo">
	  update t_user
	  <set>
	     <if test="userExtend != null">
	        <if test="userExtend.user_password != null and userExtend.user_password != ''">
	           user_password = #{userExtend.user_password}
	        </if>
	     </if>
	  </set>
	  <where>
	       <if test="userExtend != null">
	          <if test="userExtend.user_id != null and userExtend.user_id != ''">
	           user_id = #{userExtend.user_id}
	          </if>
	       </if>
	  </where>
	</update>
	
	<!-- 修改个人信息 -->
	<update id="updateUser" parameterType="com.scau.rent.entity.QueryVo">
	  update t_user
	  <set>
	    <if test="userExtend != null">
	       <if test="userExtend.user_name != null and userExtend.user_name != ''">
	         user_name = #{userExtend.user_name}, 
	       </if>
	       <if test="userExtend.user_phone != null and userExtend.user_phone != ''">
	         user_phone = #{userExtend.user_phone},
	       </if>
	       <if test="userExtend.user_email != null and userExtend.user_email != ''">
	         user_email = #{userExtend.user_email},
	       </if>
	       <if test="userExtend.user_org != null and userExtend.user_org != ''">
	         user_org = #{userExtend.user_org}
	       </if>
	    </if>
	  </set>
	  <where>
	     <if test="userExtend != null">
	        <if test="userExtend.user_id != null and userExtend.user_id != ''">
	           user_id = #{userExtend.user_id}
	        </if>
	     </if>
	  </where>
	</update>
	
	<!-- 修改个人图片 -->
	<update id="updatePic" parameterType="com.scau.rent.entity.QueryVo">
	  update t_user
	  <set>
	     <if test="userExtend != null">
	        <if test="userExtend.user_pic != null and userExtend.user_pic != ''">
	          user_pic = #{userExtend.user_pic }
	        </if>
	     </if>
	  </set>
	  <where>
	      <if test="userExtend != null">
	         user_id = #{userExtend.user_id} 
	      </if>
	  </where>
	</update>
</mapper>